

body { background-image: url(https://th.bing.com/th/id/OIG.Gh9ewqJX1TM7tEvEULrl?pid=ImgGn);
background-color: rgba(224 255 255);
background-size: cover;
background-position:relative;
background-repeat: no-repeat;
height: max-content;
width: 220;
};

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
};