 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
width:100%;
height: 100%;
letter-spacing: 0.03em;
line-height:1.6;
font-family: Jomhuria;
}

h1{font-size:55px;
text-align: center;
color: #6a6a6a;
margin-top: 100px;
font-weight: 100;
}

/*Grilla Trajeta*/ /*contenido */

.grilla {
   width: 350px;
   height: 500px;
   perspective: 800px;
   text-align: center;
   
}
.grilla:hover  .tarjeta {
   cursor: pointer;
   transform: rotateY(180deg);
 }

 .contenido .tarjeta img {
   width:350px;
   height:220px;
   display: flex;
   
   }

.contenido {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
   height: 100%;
   width: 100%;
   box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
   position: absolute;
   backface-visibility: hidden;
}

.back {
   background-color: #3a3a3a;
   transform: rotateY(180deg);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5rem;
 }


li {
   list-style: none;
   }