*{margin: 0;
box-sizing: border-box;
}

body {
width:100%;
height: 100%;
background-color: rgb(218, 192, 163);
letter-spacing: 0.03em;
line-height:1.6;
font-family:Jomhuria;
display: flex;
flex-direction: column;

}

header{
   width: 100%;
   height: 20vh;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

h1{
font-size:30px;
text-align: center;
color: rgb(15, 44, 89);
margin: 0;
padding-top: 0px;
}

.filtros {
background-color:rgb(234, 219, 200);
color:rgb(15, 44, 89);
display: flex;
justify-content: center;
padding: 7px;

}
select {
background-color:rgb(248, 240, 229);
color:rgb(4, 75, 110);
padding: 4px;
font-size: 15px;
}

label {
padding: 0px 10px 0px; 
font-size: 23px;
}


button {
margin: 0px 10px 0px;
padding: 0px 45px 0px;
background-color:#0F2C59 ;
border-radius: 5px;
color:#EADBC8;
box-shadow: 0px 2px 8px rgba(39, 38, 38, 0.592);
font-size: 17px;
font-family: Jomhuria;
font-weight: bold;
}

button:hover{
   background-color: #0e1e35;
}

#dato{
   display: flexbox;
   position: relative;

}

#button-clear {
   background: black;
   cursor: pointer;
   border: none;
   padding: 16px 32px;
   color: azure;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   border-radius: 12px;
}

/*parte trasera del botón que hace el recorrido de los colores*/
#button-clear:hover::before{
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

/*creación de la animación que va detras*/
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



ul{
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
align-items: center;
justify-content: center;

}

.contenedor .tarjeta{
width: 330px;
height: 430px;
border-radius: 8px;
background-color:#EADBC8 ;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
margin: 30px;
text-align: center;
transition: all 0.25s;
font-weight: 400;
padding: 0 1rem;
font-size: 15.5px;
color: #0F2C59;
text-decoration: none;
}

.contenedor .tarjeta:hover{
   transform: translateY(-15px);
   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor .tarjeta img{
   width: 300px;
   height: 220px;
   
}
li {
   list-style: none;
   }
   
footer{
   font-family: jomhuria;
   color: rgb(15, 44, 89);
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}